<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-10">
		<div class="row">
			<div class="col-sm-2">
				<div class="product-bottom-buton">
					<span class="product-bottom-con"></span>
					<span>SAVE TO LIST</span>
				</div>
				<div class="product-bottom-buton">
					<span class="product-bottom-con"></span>
					<span>SAVE TO LIST</span>
				</div>	
			</div>
			<div class="col-sm-2">
				<div class="product-bottom-buton">
					<span class="product-bottom-con"></span>
					<span>SAVE TO LIST</span>
				</div>
				<div class="product-bottom-buton">
					<span class="product-bottom-con"></span>
					<span>SAVE TO LIST</span>
				</div>	
			</div>
			<div class="col-sm-2">
				<div class="product-bottom-buton">
					<span class="product-bottom-con"></span>
					<span>SAVE TO LIST</span>
				</div>
				<div class="product-bottom-buton">
					<span class="product-bottom-con"></span>
					<span>SAVE TO LIST</span>
				</div>	
			</div>
			<div class="col-sm-2">
				<div class="product-bottom-buton">
					<span class="product-bottom-con"></span>
					<span>SAVE TO LIST</span>
				</div>
				<div class="product-bottom-buton">
					<span class="product-bottom-con"></span>
					<span>SAVE TO LIST</span>
				</div>	
			</div>
			<div class="col-sm-4">
				<div>
					{{ current_variant.price | money }} BUY NOW
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-1"></div>
</div>