<div class="container">
  <div class="row">
    <div class="col-main col-lg-12 col-md-12">
      {% section 'collection-info' %}
      {% section 'collection-list-template' %}
    </div>
  </div>
</div>