{% comment %}
The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

{% include 'breadcrumb' %}
<!-- <div class="container">
  <div class="row">
    {% section 'product-sidebar' %}
    {% section 'product-template' %}
  </div>
</div> -->

<div class="container-fluid">
	{% section 'product-main' %}
	{% section 'product-bottom' %}
</div>

<script>
  // Override default values of shop.strings for each template.
  // Alternate product templates can change values of
  // add to cart button, sold out, and unavailable states here.
  theme.productStrings = {
    addToCart: {{ 'products.product.add_to_cart' | t | json }},
    soldOut: {{ 'products.product.sold_out' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }}
  }
</script>
