{% comment %}
The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

{% assign current_variant 			= product.selected_or_first_available_variant 	%}
{% assign product_thumb_size 		= '110x110' %}
{% assign product_image_zoom_size 	= '1024x1024' %}
{% assign product_image_scale 		= '2' -%}

<div class="container-fluid" id="product-page">
	{% section 'product-main' %}
	{% section 'product-bottom' %}
</div>

<script>
  // Override default values of shop.strings for each template.
  // Alternate product templates can change values of
  // add to cart button, sold out, and unavailable states here.
  theme.productStrings = {
    addToCart: {{ 'products.product.add_to_cart' | t | json }},
    soldOut: {{ 'products.product.sold_out' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }}
  }
</script>
